.container {
  margin: 0 auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
}

.header {
  margin: 0 auto;
  max-width: 100%;
  background: var(--header-color);
}
nav {
  margin-top: 1rem;
}
nav a {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding-right: 1.5rem;
  text-transform: uppercase;
}

.title {
  font-family: Montserrat, sans-serif;
  font-size: 1.44rem;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  text-rendering: optimizeLegibility;
}
.title > a {
  color: var(--primary-color-light);
  text-decoration: none;
}
