@import url('https://fonts.googleapis.com/css?family=Roboto:100,300|Poppins:300,400,500,600,700|Inria+Serif:300,400,700,700i&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');
:root {
    --black: #333;
    --accent-color: #f4511e;
    --link-color: rgb(30, 138, 226);
    --grey-light: rgb(217, 220, 223);
    --grey: rgb(167, 160, 160);
    --white: rgb(250, 250, 250);
}

* {
    box-sizing: border-box;
}

:global * {
    box-sizing: border-box;
}

:global html {
    color: var(--black);
    font-family: Inria Serif, Georgia, serif;
    scroll-behavior: smooth;
    background-color: var(--white);
}

:global body {
    font-kerning: normal;
    font: 18px/1.6 Inria Serif, Georgia, serif;
    font-feature-settings: "kern", "liga", "clig", "calt";
    font-weight: 400;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

:global(pre),
:global(code) {
    font-family: Consolas, Menlo, Monaco, source-code-pro, "Courier New", monospace;
    font-size: 0.85rem;
    line-height: 1.5;
}

:global pre {
    border-radius: 10px;
    overflow: auto;
    padding: 1em;
}

:global a {
    color: var(--link-color);
}

:global a:hover {
    text-decoration: none;
}

:global p>a {
    border-bottom: 1px dotted var(--accent-color);
}

:global p>a:hover {
    border-bottom: 1px solid var(--accent-color);
}

:global p,
:global pre,
:global ul,
:global ol {
    margin-top: 0;
    margin-bottom: 1.05rem;
}

.Welcome {
    font-size: large;
}
