@import url('https://fonts.googleapis.com/css?family=Nova+Slim|Muli:400,500,600,700,800,900|Poppins:300,400,500,600,700|Courier+Prime:400,400i,700,700i|Inria+Serif:300,400,700,700i|Roboto:100,300,400,500,700,900&display=swap');

:root {
  --black: #000;
  --accent-color: #f4511e;
  --link-color: rgb(30, 138, 226);
  --grey-light: rgb(217, 220, 223);
  --grey: rgb(167, 160, 160);
  --white: rgb(250, 250, 250);

}
* { box-sizing: border-box; }

:global * {
  box-sizing: border-box;
}

:global html {
  color: var(--black);
  font: 16px/1.750 Inria Serif, Georgia, serif;
  scroll-behavior: smooth;
  background-color: var(--white);
}

:global body {
  font-kerning: normal;
  font: 16px/1.6 Inria Serif, Georgia, serif;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-weight: 400;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

:global(pre),
:global(code) {
  font-family: Consolas, Menlo, Monaco, source-code-pro, "Courier New", monospace;
  font-size: 0.85rem;
  line-height: 1.5;
}
:global pre {
  border-radius: 10px;
  overflow: auto;
  padding: 1em;
}

:global a {
  color: var(--link-color);
}
:global a:hover {
  text-decoration: none;
}

:global p,
:global pre,
:global ul,
:global ol {
  margin-top: 0;
  margin-bottom: 1.05rem;
}

.Welcome {
  font-size: large;
}

